{% set integration_name = 'security_scanner_w3af' %}
{% set display_name = 'W3af' %}
{% set show_test_connection = False %}
{% set section_name = section_name | default('scanner') %}

<add-integration-button
    integration_name="{{ integration_name }}"
    display_name="{{ display_name }}"
    logo="{{ '<img src="%s"></img>' | format(url_for('%s.static' | format(integration_name), filename='logo.svg')) }}"
></add-integration-button>


<w3af-integration
        instance_name="{{ integration_name }}"
        @register="register"

        display_name="{{ display_name }}"
        default_template="{{ default_template | safe }}"

        section_name="{{ section_name }}"
        @update="custom_data.handle_integrations_update"
        logo_src="{{ url_for('%s.static' | format(integration_name), filename='logo_white.svg') }}"

></w3af-integration>
